COLLECTION_MODE=proprietary
DEMO_VIEW_SWITCHER=true
JOTFORM_MODE=demo
JOTFORM_FORM_ID=
JOTFORM_API_KEY=
JOTFORM_WEBHOOK_SECRET=
JOTFORM_BASE_URL=https://form.jotform.com
JOTFORM_API_BASE_URL=https://api.jotform.com
APP_PUBLIC_URL=http://127.0.0.1:4173
DEALER_LINK_SECRET=
